.Header {
  background: red;
  background: linear-gradient(to bottom right, #0400FF, #FA2146);
}

.Header-title, .Header-slug {
    font-family: 'Sniglet', cursive;    
    color: #FFFFFF;
}

.Header-title {
    font-weight: 700;
}

.Header-image {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
    width: 5%;
    height: auto;
}

@-moz-keyframes spin {
    100% { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes spin {
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
}