/*
.Text-textarea {
    width: 796px;
    height: 750px;
    background-color: #FFFFFF;
    color: #243D3D;
    outline: none;
    resize: none;
    border: 5px solid orange;
}*/

.Text-textarea {
    appearance: none;
    background-color: transparent;
    border: .1rem solid #0400FF;
    border-radius: none;
    box-shadow: none;
    box-sizing: inherit;
    height: 3.8rem;
    padding: .6rem 1.0rem;
    width: 100%; /* 83.1 %*/
    min-height: 6.5rem
}